.tableau{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tree-holder{
    width:10%;
    border: solid green 1px;
    height: 98vh;
}

.image-holder{
    width:40%;
    border: solid blue 1px
    height:98vh;
}

.conversation-holder{
    border: solid black 1px;
    height:98vh;
    width:50%;
    background-image: url("./images/background-wa.jpg");
    background-repeat: repeat;
    background-size: 50%;
}

#conversation-thread{
    height:90%;
    border: solid green 1px;
    overflow-y:scroll;
}

::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  

::-webkit-scrollbar-thumb {
    background: #888;
  }

.tree-holder-mobile{
    display: none;
}

.image-holder-mobile{
    display: none;
}

.conversation-holder-mobile{
    width:100%
}

.chatbox-user{
    position: fixed;
    top:90vh;
}

h1 {
    color:brown;
}

.invisible-topic{
    color:whitesmoke;
}

.visited-topic{
    color:red;
}

