html, body{
    padding:0;
    margin:0;
    border:0;
}




.tableau{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tree-holder{
    width:10%;
    height: 98vh;
}

.image-holder{
    width:50%;
    height:98vh;
    position: relative;
    background-image: url("./images/background-hi-30.jpg");
    background-repeat: repeat;
    background-size: 80%;
}

.conversation-holder{
    height:100vh;
    width:40%;
    background-image: url("./images/background-hi-60.jpg");
    background-repeat: repeat;
    background-size: 40%;
}

#conversation-thread{
    height:88%;
    overflow-y:scroll;
    color: rgba(244, 252, 248, 1);
}



.chat-entry-user {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px 5px 0px 3px;
}

.chat-entry-server {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px 3px 0px 7px;
}

.bulle-user{
    font-family: Roboto;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: fit-content;
    max-width:75%;
    padding: 6px 10px 6px 10px;
    
}

.message-user{
    display: flex;
    flex-direction: row;
}

.message-user-green{
    display: flex;
    flex-direction: row;
    color: green;
    font-style: italic;
}

.hours-bulle{
    font-size:0.7em;
    margin-left:6px;
}

::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  

::-webkit-scrollbar-thumb {
    background: #888;
  }

.tree-holder-mobile{
    display: none;
}

.image-holder-mobile{
    display: none;
}

.conversation-holder-mobile{
    width:100%
}



h1 {
    color:brown;
}

h3{
    display: none;
}

.invisible-topic{
    color:whitesmoke;
}

.visited-topic{
    color:red;
}


#topic-tree p{
    font-family: Roboto;
    font-weight: 400;
}

/* Style du formulaire et du boutton */

.chatbox-user{
    position: fixed;
    top:90vh;
    width:inherit;
    height:inherit;
    padding-left: 0px;
    display: flex;
    justify-content: center;
}

input[type=text] {
    background-color: rgba(224, 178, 230, 0.758);
    width:70%;
    height:50px;
    border:none;
    border-radius:35px;
    border: solid rgb(221, 143, 231) 2px;  /* original green : rgba(33, 180, 51, 1)*/
    padding:0px 18px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.2em;
    color: white;
}

    
input::placeholder {
    font-family: Roboto;
    font-weight: 400;
    font-size: 1em;
    color: rgba(244, 252, 248, 0.607);
   }

.send-button{
    background-color: rgba(224, 143, 230, 0.8);
    height: 52px;
    width: 52px;
    border-radius:100%;
    border: solid rgba(0, 128, 0, 0) 2px;
    margin-left:5px;
    background-image: url("./images/logo-send-mini.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 40% 50%;  
}

/*Style du formulaire et bouton si mobile */

.input-user-mobile{
width:35%;
}


/* Gestion des images */


img {
    max-width: 50%;
    height: fit-content;
}

.enlarged-image{
    max-width:100%;
    height:auto;
    max-height:100%;
    position: absolute;
    z-index: 2;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-color: rgba(0,0,0,1);
    border-width: 300px 200px 300px 200px;
    border-style: solid;
}