.tableau{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tree-holder{
    width:10%;
    border: solid green 1px;
}

.image-holder{
    width:40%;
    border: solid blue 1px
}

.conversation-holder{
    border: solid black 1px;
    width:50%;
}

.tree-holder-mobile{
    display: none;
}

.image-holder-mobile{
    display: none;
}

.conversation-holder-mobile{
    width:100%
}

h1 {
    color:brown;
}

.invisible-topic{
    color:whitesmoke;
}

.visited-topic{
    color:red;
}

